<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        *{
            margin: 0;
            padding: 0;
        }
        .footer{
            height: 50px;
            width: 100%;
            background-color: rgb(21, 21, 24);
            color: white;
            position: relative;
            bottom: 0;
            display: flex;
            justify-content: center;
            text-align: center;
        }
        .footer p{
            padding-top: 15px;
        }
        .footer p::after{
            content: "";
            display: block;
            width: 0;
            height: 2px;
            transition: width .3s;
            background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
        }
        .footer p:hover::after{
            width: 100%;
        }
    </style>
</head>
<body>
    <div class="footer">
        <p>Made with love by Lavish</p>
    </div>
</body>
</html>