<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <style>
        *{
            margin: 0;
            padding: 0;
        }
        .nav{
            background-color: rgb(21, 21, 24);
            color:white;
            padding: 15px;
            justify-content: center;
        }
        .menu-right{
            /* height: 80px;
            width: 100%; */
            text-align: right;
        }
        ul li{
            margin: 20px;
            display: inline-block;
            list-style: none;
        }
        #btn{
            margin: 0 20px;
            cursor: pointer;
            font-size: 28px;
            display: none;
        }
        .logo{
            float: left;
            margin: 20px;
        }
        .logo img{
            height: 30px;
            width: 30px;
        }
        a{
            text-decoration: none;
            color: white;
        }
        a:hover{
            color: gray;
        }
        ul li::after{
            content: "";
            display: block;
            width: 0;
            height: 2px;
            transition: width .3s;
            background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
        }
        ul li:hover::after{
            width: 100%;
        }
        @keyframes borderanimation{
            0%{
                border-color: transparent;
            }
            50%{
                border-color: green;
            }
            100%{
                border-color: transparent;
            }
        }
        i{
            margin: 4PX;
            color: rgb(6, 207, 207);
            transition: all linear;
            animation: rot 2s linear infinite;
            }
        @keyframes rot{
            0%{
                transform: rotate(0deg);
            }
            100%{
                transform: rotate(360deg);
            }
        }
        
        @media screen and (max-width:600px){
            #btn{ 
                display: block;
                margin-bottom: 40px;
            }
            ul li{
                display: block;
                text-align: center;
            }
            ul{
                display: none;
            }
            .logo{
            }
            #btn{
                margin-top: 14px;
                margin-bottom: 20px;
            }
        }
        
    </style>
    <script>
        const func = () =>{
        var sp = document.getElementById('list');
        sp.style.display==='none'?sp.style.setProperty('display', 'block'):sp.style.setProperty('display', 'none');
        }
        </script>

</head>
<body>
    <div class="nav">
        <div class="logo"><i class="far fa-snowflake"></i>Weather APP<i class="far fa-snowflake"></i></div>
        <div class="menu-right">
            <span id="btn" onclick="func()">&#9776</span>
            <ul id="list">
                <li><a href="/home">Home</a></li>
                <li><a href="/weather">Weather</a></li>
                <li><a href="/about">About</a></li>
            </ul>
        </div>
    </div>
</body>
</html>